li{
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
}
li:hover{
  color: #7D97F4;
  font-weight: 700;
}
.active{
  color: #7D97F4;
  font-weight: 700;
}
#menu-btn {
  font-size: 1.5rem;
  border-radius: .5rem;
  background: #eee;
  color: #7D97F4;
  padding: 0.5rem;
  cursor: pointer;
}



