<div class="bg-white">
  <div class="first-section landing-padding-x grid lg:grid-cols-2 py-8 gap-4 lg:gap-0">
    <div class="flex flex-col gap-4 md:gap-6 justify-center">
      <p class="text-3xl font-medium lg:text-[50px] max-w-[580px] leading-[57.25px]">We are creating wealth for our <span class="text-[#7D97F4] font-bold">society</span></p>
      <p class="max-w-[580px] leading-9 text-xl lg:text-2xl">Revent is dedicated to enabling financial freedom by providing quick access to loans in order to provide convenience for its customers.</p>
      <button class="rounded-[10px] px-8 py-4 text-white bg-[#7D97F4] w-[200px] mt-4">
        Let’s Talk  👋🏾
      </button>
    </div>
    <div class="relative mt-10 md:mt-0">
      <div><img src="assets/images/sect-one.svg" alt="" class="w-full"></div>
      <div>
        <img src="assets/images/Vector.svg" alt="" class="absolute top-0 left-0 z-50">
      </div>
    </div>
  </div>

  <div class="sect-two py-5 landing-padding-x">

    <p class="max-w-[515px] text-2xl lg:text-[40px] leading-[60px] font-bold">Are you looking for a quick loan? Get your loan in <span class="text-[#7D97F4]">24 hours ⏳</span></p>

    <div class="grid md:grid-cols-2 mt-4">
    <div class="flex mx-auto">
        <div class="flex flex-col gap-6">
          <div class="flex flex-col gap-4">
            <p class="text-xl lg:text-[32px] font-bold">Apply</p>
            <p class="max-w-[530px] leading-7 text-lg">Take your first step to financial freedom by applying for a loan from us and we will be available to help you every step of the way.</p>
          </div>
          <div class="flex flex-col gap-4">
            <p class="text-xl lg:text-[32px] font-bold">Get verified</p>
            <p class="max-w-[530px] leading-7 text-lg ">We follow a well-regulated process to evaluate you/your documents we verify you and move you to the next step</p>
          </div>
          <div class="flex flex-col gap-4">
            <p class="text-xl lg:text-[32px] font-bold opacity-40">Get funded</p>
            <p class="max-w-[530px] leading-7 text-lg opacity-40">After evaluation you will get your loan, all of this will occur within 24 hours. Our loans are quick and easy. It’s that simple</p>
          </div>
        </div>
      </div>
      <div class="mt-10 md:mt-0">
        <div><img src="assets/images/sect-two.svg" alt="" class="w-full"></div>
      </div>
    </div>
  </div>

  <div class="sect-three landing-padding-x grid lg:grid-cols-2 py-8 gap-6 lg:gap-14">
    <div class="grid md:grid-cols-2 gap-6">
      <div class="flex flex-col gap-6">
        <div class="card flex flex-col p-4 bg-white shadow-md gap-4 rounded-md">
          <div class="bg-[#F4F6FD] w-20 h-20 rounded-full flex justify-center p-2">
            <img src="assets/images/megaphone.svg" alt="">
          </div>
          <p class="text-xl md:text-2xl font-medium">Quick & Instant</p>
          <p class="text-lg leading-6">We provide you with a faster approach to applying for a loan. As mentioned earlier, you will get your loan within 24 hours.</p>
        </div>
        <div class="card flex flex-col p-4 bg-white shadow-md gap-4 rounded-md">
          <div class="bg-[#F4F6FD] w-20 h-20 rounded-full flex justify-center p-2">
            <img src="assets/images/megaphone.svg" alt="">
          </div>
          <p class="text-xl md:text-2xl font-medium">Technology driven</p>
          <p class="text-lg leading-6">We have enhanced the loan application process by utilizing technology to bring you convenience and speed</p>
        </div>
      </div>
      <div class="flex flex-col gap-6 lg:py-10">
        <div class="card flex flex-col p-4 bg-white shadow-md gap-4 rounded-md">
          <div class="bg-[#F4F6FD] w-20 h-20 rounded-full flex justify-center p-2">
            <img src="assets/images/megaphone.svg" alt="">
          </div>
          <p class="text-xl md:text-2xl font-medium">Competitive interest rates</p>
          <p class="text-lg leading-6">Our interest rates are hard to beat. With us you get more for less.</p>
        </div>
        <div class="card flex flex-col p-4 bg-white shadow-md gap-4 rounded-md">
          <div class="bg-[#F4F6FD] w-20 h-20 rounded-full flex justify-center p-2">
            <img src="assets/images/megaphone.svg" alt="">
          </div>
          <p class="text-xl md:text-2xl font-medium">Convinient & flexible</p>
          <p class="text-lg leading-6">With us you get access to the funds you need through our hassle-free and efficient processes</p>
        </div>
      </div>
    </div>
    <div class="flex flex-col md:justify-center gap-6 mt-10 md:mt-0">
      <div class="p-2 rounded-full bg-[#F4F7FE] w-[184px] mb-4">
       <p class="text-[#7D97F4] flex justify-center  text-lg text-bold"> We guarantee</p>
      </div>
      <p class="font-bold text-3xl md:text-[40px] leading-[52px] max-w-[580px]">Easy Financial services <span class="text-[#7D97F4] font-bold">wherever you go </span></p>
      <p class="max-w-[580px] leading-9 text-xl lg:text-2xl">Whether you’re at home, at the office, or on the go, you can apply for your loan from anywhere. We will be available to help you every step of the way</p>
    </div>
  </div>

  <div class="sect-four py-10 bg-[#5E88F3] gap-4 md:gap-0 text-white grid md:grid-cols-2 my-5 lg:my-10 lg:grid-cols-3 justify-items-center">
    <div class="flex flex-col gap-4">
      <p class="font-bold text-3xl md:text-[40px]">40+</p>
      <p class="text-lg md:text-xl max-w-[200px] leading-[29.23px]">staff in different regions</p>
    </div>
    <div class="flex flex-col gap-4">
      <p class="font-bold text-3xl md:text-[40px]">40M+</p>
      <p class="text-lg md:text-xl  max-w-[228px] leading-[29.23px]">total amount loan disbursed</p>
    </div>
    <div class="flex flex-col gap-4">
      <p class="font-bold text-3xl md:text-[40px]">360+</p>
      <p class="text-lg md:text-xl max-w-[228px] leading-[29.23px]">Approved & disbursed loan applications</p>
    </div>
  </div>

  <div class="sect-five landing-padding-x grid lg:grid-cols-2 py-8 gap-4 lg:gap-0">
    <div class="flex flex-col gap-6 md:pt-14">
      <div class="p-2 rounded-full bg-[#F4F7FE] w-[184px] mb-4">
        <p class="text-[#7D97F4] flex justify-center text-lg text-bold"> Why Revent</p>
       </div>
       <p class="font-bold text-3xl lg:text-[40px] leading-[52px] max-w-[580px]">We are a micro-finance body that <span class="text-[#7D97F4] font-bold">cares</span></p>
       <p class="max-w-[580px] leading-9 text-xl lg:text-2xl">We support micro businesses and enterprises within the fast-moving consumer goods (FMCG) sector with a view to reduce hunger and foster a thriving micro economy within our communities amongst men and women.</p>
    </div>
    <div class="w-full">
      <img src="assets/images/four.svg" alt="" class="w-full">
    </div>
  </div>
  <div class="sect-six landing-padding-x grid lg:grid-cols-2 py-8 gap-4 lg:gap-0">
    <div class="w-full">
      <img src="assets/images/five.svg" alt="" class="w-full">
    </div>
    <div class="flex flex-col gap-6 md:pt-14">
      <div class="p-2 rounded-full bg-[#F4F7FE] w-[184px] mb-4">
        <p class="text-[#5E88F3] flex justify-center text-lg text-bold"> What we offer</p>
       </div>
       <p class="font-bold text-3xl lg:text-[40px] leading-[52px] max-w-[580px]">Have access to loans anytime anywhere</p>
       <p class="max-w-[580px] leading-9 text-xl lg:text-2xl">We also provide working capital support the micro businesses within the FMCG value chain to meet daily operational needs & partner with you to grow your business by providing the right type of funding.</p>
    </div>
  </div>
  <div class="sect-seven landing-padding-x grid lg:grid-cols-2 py-8 gap-4 lg:gap-0">
    <div class="flex flex-col gap-6 md:pt-14">
      <div class="p-2 rounded-full bg-[#EFFAFE] w-[184px] mb-4">
       <p class="text-[#5ECCF3] flex justify-center text-lg text-bold"> What we offer</p>
      </div>
      <p class="font-bold text-3xl lg:text-[40px] leading-[52px] max-w-[580px]">Financial Advisory, consultation and Lending services</p>
      <p class="max-w-[580px] leading-9 text-xl lg:text-2xl">We provide business advisory that is backed with funding to increase turnover and in turn profits while alleviating poverty especially among-st women and communities that are under banked or unbanked.</p>

      <div class="flex flex-col md:flex-row gap-4">
        <div class="flex gap-4 items-center">
          <p class="w-8 h-8 bg-[#F4F7FE] rounded-full flex justify-center p-2"><img src="assets/images/blue.svg" alt="" class="w-full"></p>
          <p class="text-base">Money Lending</p>
        </div>
        <div class="flex gap-4 items-center">
          <p class="w-8 h-8 bg-[#F4F7FE] rounded-full flex justify-center p-2"><img src="assets/images/blue.svg" alt="" class="w-full"></p>
          <p class="text-base">Micro-Finance</p>
        </div>
        <div class="flex gap-4 items-center">
          <p class="w-8 h-8 bg-[#F4F7FE] rounded-full flex justify-center p-2"><img src="assets/images/blue.svg" alt="" class="w-full"></p>
          <p class="text-base">Advisory</p>
        </div>
      </div>
    </div>
    <div class="w-full">
      <img src="assets/images/six.svg" alt="" class="w-full">
    </div>
  </div>

  <!-- carousel -->
  <div class="flex flex-col bg-[#5E88F3] landing-padding-x text-white py-10 lg:py-20">
    <div class="flex flex-col md:flex-row md:justify-between">
      <div class="flex flex-col gap-4 md:gap-6">
        <div>
          <img src="assets/images/quote.svg" alt="w-full">
        </div>
        <p class="text-2xl md:text-[40px] font-bold mt-4">Stories from users</p>
        <div class="md:hidden">
          <img src="assets/images/carousel.svg" alt="w-full">
        </div>
        <p class="leading-[41px] text-lg md:text-2xl max-w-[600px] mt-4">I used to struggle with my business due to low capital until i met Revent that took my business to a new level with the loan granted to me at the best rates ever</p>
        <p class="italic font-semibold">- Magarette Chikamso</p>

        <div class="mt-5">
          <img src="assets/images/carousel-arrow.svg" alt="w-full">
        </div>
      </div>
      <div class="hidden lg:block lg:mb-14">
        <img src="assets/images/carousel.svg" alt="w-full">
      </div>
    </div>
    <div class="grid md:grid-cols-2 lg:grid-cols-5 md:gap-y-6 justify-items-center items-center gap-4 mt-5 md:mt-10">
      <div>
        <img src="assets/images/bamboo.svg" alt="w-full">
      </div>
      <div>
        <img src="assets/images/chdren.svg" alt="w-full">
      </div>
      <div>
        <img src="assets/images/box.svg" alt="w-full">
      </div>
      <div>
        <img src="assets/images/artsan.svg" alt="w-full">
      </div>
      <div>
        <img src="assets/images/branch.svg" alt="w-full">
      </div>
    </div>
  </div>

  <div class="landing-padding-x py-10 lg:py-20">
    <div class="flex flex-col gap-4 lg:gap-6 justify-items-center items-center ">
      <p class="text-3xl md:text-[40px] font-bold">Latest news</p>
      <p class="text-lg md:text-2xl min-w-[220px] max-w-[650px] text-center leading-9">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Commodo sodales elit quam nisl, amet.</p>
    </div>
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6 py-5 md:py-10 my-5 md:my-10">
      <div class="flex flex-col gap-6 px-2 md:px-0">
        <div class="w-[250px] h-[220px] lg:w-[386px] lg:h-[400px] rounded-3xl bg-[#C4C4C4]">
        </div>
        <p class="text-lg md:text-2xl font-bold min-w-[200px] max-w-[350px]">A digital prescription for the pharma industry</p>
        <p class="text-lg min-w-[200px] max-w-[350px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Commodo sodales elit......</p>
      </div>
      <div class="flex flex-col gap-6 px-2 md:px-0">
        <div class="w-[250px] h-[220px] lg:w-[386px] lg:h-[400px] rounded-3xl bg-[#C4C4C4]">
        </div>
        <p class="text-lg md:text-2xl font-bold min-w-[200px] max-w-[350px]">A digital prescription for the pharma industry</p>
        <p class="text-lg min-w-[200px] max-w-[350px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Commodo sodales elit......</p>
      </div>
      <div class="flex flex-col gap-6 px-2 md:px-0">
        <div class="w-[250px] h-[220px] lg:w-[386px] lg:h-[400px] rounded-3xl bg-[#C4C4C4]">
        </div>
        <p class="text-lg md:text-2xl font-bold min-w-[200px] max-w-[350px]">A digital prescription for the pharma industry</p>
        <p class="text-lg min-w-[200px] max-w-[350px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Commodo sodales elit......</p>
      </div>
    </div>

  </div>

  <!-- Subscribe -->
  <div class="px-8 lg:px-[120px] py-10">
    <div class="bg-[#F4F7FE] rounded-3xl p-5 flex flex-col gap-4 justify-items-center items-center py-10 lg:py-20">
      <p class="text-2xl md:text-[40px] font-bold max-w-[440px] leading-[52px] text-center">Subscribe to our <span class="text-[#7D97F4]">Newsletter</span>
      </p>
      <div class="px-4">
        <div class="border border-[#D2DFFF] bg-white p-3 md:p-5 min-w-[150px] lg:w-[580px] rounded-lg mt-2 lg:mt-4">
          <input type="text" placeholder="Enter your email address" class="text-black bg-none outline-none border-none">
        </div>
      </div>

      <button class="rounded-[10px] px-8 py-4 text-white bg-[#7D97F4] w-[200px] flex items-center justify-center mt-4 lg:mt-8">
        Subscribe 📩
      </button>
    </div>
  </div>

  <div class="landing-padding-x flex flex-col md:justify-center md:items-center gap-4 py-5 lg:py-20 mt-5 mb-10">
    <p class="text-2xl lg:text-[40px] leading-[52px] md:text-center lg:max-w-[900px]">We are here to help you navigate the poor financial service provision in Africa</p>
    <button class="rounded-[10px] px-8 py-4 text-white bg-[#FAA307] w-[200px] flex items-center justify-center mt-4 lg:mt-8">
      Let’s Talk  👋🏾
    </button>
  </div>
</div>
