<footer class="bg-[#5E88F3] landing-padding-x text-white py-5 lg:py-10">
  <div class="flex gap-6 md:gap-0 flex-col md:flex-row justify-between pt-10 items-center pb-6  border-b border-b-white ">
    <div>
      <img src="assets/images/logo-white.svg" alt="">
    </div>

    <nav>
      <ul class="flex gap-4 items-center">
        <li class="text-nowrap text-sm md:text-base">Contact us</li>
        <li class="text-nowrap text-sm md:text-base">About us</li>
        <li class="text-nowrap text-sm md:text-base">Services</li>
        <li class="text-nowrap text-sm md:text-base">Our works</li>
      </ul>
    </nav>

    <div class="flex justify-between items-center gap-4">
      <div class="bg-white rounded-full w-[40px] h-[40px] flex justify-center items-center cursor-pointer">
        <img src="assets/images/gram.svg" alt="">
      </div>
      <div class="bg-white rounded-full w-[40px] h-[40px] flex justify-center items-center cursor-pointer">
        <img src="assets/images/x.svg" alt="">
      </div>
    </div>
  </div>
  <p class="text-base flex justify-center items-center font-normal md:text-lg mt-6 pb-6">
    © 2021 reventtechnologies. All rights reserved
  </p>
</footer>
